.note-comp {
  height: 240px;
  width: 240px;
  display: block;
  align-items: center;
  justify-content: center;
  margin: 0 7.5px 15px;
  overflow: hidden;
  position: absolute;
  top: 130px;
  background-position: center;
  background-size: cover;
  box-shadow: 3px 3px 3px #4a4a4a, -3px -3px 55px -35px #4a4a4a;
  resize: both;
  white-space: pre-line;
  
  &.large {
    height: 380px;
  }
  
  &:first-child {
    margin-right: 7.5px;
  }
  
  &:last-child {
    margin-left: 7.5px;
  }

  &.selected {
    box-shadow: 3px 3px 3px #c9c9c9, -3px -3px 95px -15px #c9c9c9;
    outline: 5px solid green!important;
  }

  .content {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    text-align: center;

    .note-text {
      font-size: 28px;
      color: darkred;
      font-weight: 900;
    }
  }

}
