.note-comp {
  height: 190px;
  width: 190px;
  display: block;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-size: cover;
  box-shadow: 3px 3px 3px #4a4a4a, -3px -3px 55px -35px #4a4a4a;
  resize: both;
  white-space: pre-line;
  // user-select: all;

  &.large {
    height: 380px;
  }
  
  &:first-child {
    margin-right: 7.5px;
  }

  &.selected {
    box-shadow: 3px 3px 3px #c9c9c9, -3px -3px 95px -15px #c9c9c9;
    outline: 5px solid green!important;
  }

  .content {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    text-align: center;
    font-size: 22px;

    &.isMat-true {
      align-items: flex-start;
      padding-top: 0px;
      font-size: 26px!important;
      line-height: 1.2;
      border: 3px solid black;
      display: block;
      box-shadow: 3px 3px 15px #4a4a4a, -3px -3px 55px -35px #4a4a4a;
    }

    .note-text {
      color: rgb(65, 0, 0);
      font-weight: 900;
    }

    .note-check {
      position: absolute;
      top: 6px;
      left: 6px;
      display: none;
      height: 16px;
    }

    .note-menu {
      position: absolute;
      top: 4px;
      right: 4px;
      height: 12px;
      width: 12px;
      pointer-events: all;
      opacity: .1;
      border: 1px solid black;
      border-radius: 100%;
      line-height: .6;
      padding: 2px;
      font-size: 20px;
      display: none;
    }

  }

  &:hover {
    .note-menu {
      display: block;
    }
  }

}

.note-tray {
  z-index: 1;
  border-radius: 4px;
  position: absolute;
  pointer-events: all;
  top: 0;
  padding: 5px;
  resize: both;
  display: none;
  
  &.slide-in {
    right: 5px;
  }

  &.slide-out {
    left: 100%!important;
  }

  .tray-text {
    margin: 1px 1px 1px 1px;
    font-size: 16px;
    width: 100%;
    height: 100%;
    opacity: .8;
    white-space: pre-line;
    background-color: rgba(255,255,255,.2);
    resize: both;
    display: none;
  }

}
