.board-backing {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(22, 112, 215);
  position: absolute;
  z-index: -99999;

  .database-options {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 150px;
    height: 114px;
    background-color: grey;
    text-align: center;
    overflow: visible;

    .save-board-input {
      width: 90%;
      border: none;
    }

    h3 {
      margin: 0 auto 5px;
    }

    .board-drop {
      background-color: darkslategrey;
      padding: 10px 0;
      position: absolute;
      top: 114px;
      width: 250px;
      display: none;

      button {
        float: left;
      }

      .delete {
        background-color: red;
        color: white;
        border-radius: 5px;
      }

      .button-cont {
        position: relative;
        float: left;
      }
      
    }
  }

}

.trash-frame {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 250px;
  height: 250px;
  background-color: darkslategrey;

  &:hover {
    background-color: green;
  }

  &.hovered {
    background-color: green;
  }
}


.options-frame {
  width: 400px;
  height: 124px;
  position: absolute;
  top: 10px;
  left: 146px;
  padding: 0 0 0 160px;
  background-color: rgba(0, 0, 0, .1);
  display: inline-block;
  overflow: visible;

  button {
    display: block;
    margin: 8px 12px;
  }

  &.selected {
    background-color: green;
  }
}

.pad-frame {
  left: 570px;
  top: 10px;
  height: 200px;
  display: block;
  position: absolute;
  background-size: cover;
  resize: both!important;
  border: 1px solid black;
  overflow: hidden;
  padding: 10px;

  #input-text {
    box-sizing: content-box;
    width: 240px;
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    color: darkred!important;
    font-weight: 900;
    align-items: center;
    background-color: rgba(255, 255, 255, .5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    resize: both!important;
   
  }

  #input-text:empty {
    caret-color: transparent;
  }
  
}
