.board-backing {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  // background-color: rgb(22, 112, 215);
  position: absolute;
  z-index: -99999;
  overflow: hidden;

}

.database-options {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 150px;
  height: 113px;
  background-color: var(--secondary);
  text-align: center;
  overflow: visible;

  .save-board-input {
    width: 134px;
    border: none;
  }

  h3 {
    margin: 2px auto 1px;
  }

  .new-button {
    position: absolute;
    left: 50px;
    top: 49px;
    width: 80px;
    padding: 1px 5px 2px;
  }

  .board-drop {
    background-color: var(--secondary);
    padding: 10px 0;
    position: absolute;
    top: 114px;
    width: 200px;
    display: none;

    button {
      float: left;
      margin: 3px 6px 3px 12px;
    }

    .delete {
      background-color: red;
      color: white;
      border-radius: 5px;
    }

    .button-cont {
      position: relative;
      float: left;
      width: 100%;
    }
    
  }
}

.options-frame {
  width: 340px;
  height: 124px;
  position: absolute;
  top: 10px;
  left: 275px;
  padding: 0 0 0 160px;
  background-color: var(--primary);
  display: inline-block;
  overflow: visible;
  border: 1px solid lightgrey;
  border-radius: 2px;
  z-index: 100000000;

  button {
    display: block;
    margin: 8px 12px;
  }

  &.selected {
    background-color: green;
  }

  .color-elements {
    display: inline-block;
    margin: 0 0 0 5px;
    bottom: 0;
    position: relative;
  }

}

.update-frame {
  width: 230px;
  height: 45px;
  left: 310px;
  top: 85px;
  position: absolute;
  background-color: var(--secondary);
  border: 1px solid lightgrey;
  border-radius: 2px;
  z-index: -1;
  transition: top .15s ease-in-out;

  button {
    display: inline-block;
    margin: 15px 13px 0;
  }

  &.selected {
    top: 130px;
  }

}

.pad-frame {
  left: 625px;
  top: 10px;
  height: 124px;
  position: absolute;
  background-size: cover;
  resize: both!important;
  border: 1px solid black;
  overflow: hidden;
  padding: 10px;
  display: table;
  box-shadow: 3px 3px 3px #4a4a4a, -3px -3px 55px -35px #4a4a4a;
  z-index: 1000000000;

  #input-text {
    box-sizing: content-box;
    width: 140px;
    text-align: center;
    font-size: 22px;
    line-height: 1.4;
    color: darkred!important;
    font-weight: 900;
    align-items: center;
    background-color: rgba(255, 255, 255, .5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    resize: both!important;
    display: table-cell;
    vertical-align: middle;
  }

  #input-text:empty {
    caret-color: transparent;
  }
  
}

.trash-frame {
  box-sizing: content-box;
  position: absolute;
  text-align: center;
  top: 10px;
  right: 10px;
  width: 125px;
  height: 124px;
  border-radius: 2px;
  border: 1px solid lightgrey;
  background-color: var(--primary);

  &:hover {
    background-color: var(--tertiary);
  }

  &.hovered {
    background-color: var(--tertiary);
  }

  .trash-cont {
    position: absolute;
    height: 60px;
    width: 45px;
    opacity: 1;
    left: 50%;
    top: 50%;
    background-color: var(--primary-dark);

    transform: translateX(-50%) translateY(-50%);
    border: 1px solid lightgrey;
    
    .trash-top {
      display: block;
      margin: 3px 0 1px 1px;
      width: 40px;
    }
    
    .trash-bottom {
      margin: 0 0 0px 1px;

      display: block;
      width: 40px;
    }

  }

}
