.board-backing {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 223, 228);
  position: absolute;
  z-index: -99999;

  .options-frame {
    width: 350px;
    height: 124px;
    position: absolute;
    top: 10px;
    left: 146px;
    padding: 0px;
    background-color: rgba(0,0,0,.1);
    display: inline-block;
    
    button {
      display: block;
      margin: 8px 12px;
    }

  }
  
  .pad-frame {
    width: 200px;
    height: 124px;
    left: 510px;
    top: 10px;
    display: inline-block;
    position: absolute;

    textarea {
      height: 100%;
      display: inline-block;
    }

  }
}
