.header {
  height: 134px;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  pointer-events: none;

  .logo-container {
    height: 100%;
    width: 100px;
  }

  .logo {
    height: 134px;
    padding: 10px 6px 0 10px;
    pointer-events: all;
  }

  .user-options {
    width: 124px;
    height: 124px;
    pointer-events: all;
    margin: 10px 5px;
    text-align: center;
    border: 1px solid lightgray;
    background-color: var(--primary);
    border-radius: 2px;
    color: white;
    z-index: 999999999;

    .option {
      cursor: pointer;
      margin-top: 10px;
    }

    .welcome {
      text-align: center;
      margin-top: 20px;
    }
    
  }

  .sign-in-modal-btn {
    margin-top: 17px;
  }

  .sign-modal {
    display: none;
    position: absolute;
    width: 60vw;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;
    background-color: var(--secondary);
    pointer-events: all;
    z-index: 1000000001;
    border-radius: 2px;
    border: 1px solid var(--primary-dark);
  }

}
