.header {
  height: 70px;
  width: 100%;
  display: flex;
  // justify-content: space-between;
  position: absolute;
  top: 0;
  pointer-events: none;

  .logo-container {
    height: 100%;
    width: 100px;
  }
  
  .logo {
    height: 139px;
    padding: 6px 0 0 6px;
    pointer-events: all;
  }

  .user-options {
    width: 124px;
    height: 124px;
    pointer-events: all;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid lightgray;
    background-color: var(--primary);
    border-radius: 2px;
    color: white;
 
    .option {
      cursor: pointer;
    }

    .welcome {
      text-align: center;
      margin-top: 25px;
    }
    
  }

  .sign-in-modal-btn {
    margin-top: 45px;
  }

  .sign-modal {
    display: none;
    position: absolute;
    height: 500px;
    width: 70vw;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;
    background-color: white;
    pointer-events: all;
  }

}
